
*{margin: 0;padding: 0;}
body{margin: 0 auto}
#all{
    width:98%;
    margin: 0 auto;


}
#top{
    height: 11vw;
    width: 98%;
    font-size: 9vw;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #00CCFF;
    line-height:11vw;
}
#top img{
    float: left;
   margin-left: 5vw;
}
#img img{
    width: 98%;
    height:50vw;
}
#artical{
  line-height: 1.5em;
    font-size:5vw;
    font-family: cursive;

}
#artical p{
    text-indent: 2em;
}
#tel{
    margin-top: 5vw;;
}
#tel p{
    text-indent: 2em;
    line-height: 5vw;
    font-size: 3vw;
    color: black;
    font-weight: 200;
}
#Apply{
    width: 20vw;
    height:10vw;
    position: relative;
   bottom:9.5vw;
   left: 60vw;
    font-size:5vw;
    border-radius: 1vw;
    color: white;
    background-color: #00CCFF;
    box-shadow: 5px 5px 10px #bcbcbc;
}