*{margin: 0;padding: 0;}
.all{margin: 0 auto;}
ul li{list-style: none;padding: 0;margin: 0;}
#rectangle{  width:65vw ;  height: 10.5vw;  background-color: #00CCFF;  position: absolute;  top: 0;  left: 0;  font-size: 25px;  font-weight: bold;  color: white;  text-align: center;  line-height: 11vw;  }
#triangle{  border-left: 8vw solid #00CCFF;  border-top: 5.5vw solid transparent;  border-bottom: 5.5vw solid transparent; margin-left: 65vw;  }
.top{height: 8vw;width: 100%;margin-top: 5vw}
.top span{margin-left: 5vw;font-size: 6vw}
.ul1 li{float: left;margin-top: 1vw ;margin-left: 2vw}
.ul1 li img{width: 10vw;height: 10vw}
.ul1 li span{font-size: 4vw;margin-top: 3vw;display: inline-block;vertical-align: middle;}
.article{width: 94vw;margin: 20vw auto;border: 1px solid #a9bdff;border-radius: 10px  }
.company{width: 90vw;height: 20vw;margin: 5vw auto;border-bottom: solid 1px darkgrey;}
.company p{width: 90vw;text-align: center ;font-size: 7vw;color: #41D3F7;height: 12vw; }
.company span{font-size:4vw;}
#content{  line-height: 1.5em;  font-size:3vw;  font-family: cursive;margin:4vw 4vw}
#btn{position: fixed;width: 100vw;bottom: 0;height: 13vw;background-color: white;z-index: 1;padding-bottom: 1vw;}
#delivery{width: 60vw;height: 13vw;background-color: #fda221;font-size: 6vw;text-align: center;line-height: 13vw;margin-left: 5vw;color: white;font-family: cursive;font-weight: 500;border-radius: 5px;  }
#collection{width: 25vw;height: 12vw;text-align: center;line-height: 13vw;margin-left: 3vw;border-radius: 5px;vertical-align: top;background: url("../image/collect.png") no-repeat }
#delivery,#collection:hover{cursor:pointer;}