ul li{list-style: none}
*{margin: 0;padding: 0;}

#all{

    width:95%;
    margin:2vw auto;}
#top{
    height: 10vw;
    width: 98%;
    font-size: 8vw;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #00CCFF;
    line-height:9vw;
}
.chuan{
    width:15vw;
    height: 8vw;
    background-color:#d6e3e3 ;
    color: #2a597d;
    margin-top:2vw ;
    font-size: 5vw;
}
.an{
  width:15vw;
    height: 8vw;
    background-color:white ;
    color: #2a597d;
    margin-top:2vw ;
    font-size: 5vw;
}
hr{
    width: 97%;
}
#anYuan,#chuanYuan{
   position: relative;
    top: 0.5rem;
    width: 98%;
    height: 100vw;
    background-color: #ffffff;
}
#anYuan ul li,#chuanYuan ul li{
    margin-top: 2vw;
    height: 10vw;
    border-bottom: solid 1px #bcbcbc;
    color: #7b7b7b;
    line-height:2rem ;
    font-size: 4vw;
    font-weight: bold;
}
 .span1{
    display: inline-block;
 margin-left: 2vw}
.span2,.editInput{
    width: 30vw;
    display: inline-block;
    float: right;
    height: 6vw;
    font-size: 3.5vw;
    margin-top: 2vw;


}
.editInput{
    border: 1px solid dodgerblue;
}


.active{
    background-color: white;
}
#submit,#edit{
   line-height:8vw;
    text-align: center;
    width: 22vw;
    height: 8vw;
 margin-top: 5vw;
    margin-left:14vw;
    font-size:5vw;
    border-radius: 5px;
    color: #2a597d;
    background-color: #d3e0e0;
    box-shadow: 5px 5px 10px #bcbcbc;
    font-weight: bold;

}
